<style>
.about{
    width: 100%;
    height: auto;
    background-color: #FFFF;
    border: 1px solid black;
    box-shadow: 3px 3px 10px 10px gainsboro;
}
.her{
    font-weight: 900;
    color: rgb(5, 5, 105);
}
.lose{
    text-align: center;
    border: 1px solid black;
    margin: 10px;
   background-image: linear-gradient(lightgreen,rgb(27, 86, 27),rgb(180, 194, 180));
} 

.mais{
    font-size: 20px;
    font-weight: 700;
    color: black;
}
img{
    margin: 30px;
}
.lose h1{
    margin-top: 20px;
    color: rgb(2, 50, 34);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}


.su{
    text-align: center;
    border: 1px solid black;
    margin: 10px;
    background-image: linear-gradient(pink,green,orange);
}
img{
    margin: 30px;
}
.su h1{
    margin-top: 20px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
img:hover{
    transform: scale(0.7);
    width: 350px;
    height: 350px;
}

span {
    color:black;
    width: 300px;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
}
</style>

<div class="lose">
    <h1>Farmers loose their crop by<br><br><strong><span><u>RAIN & INSUFFICIENT WATER</u></span></strong></h1>
    <img src="https://img.etimg.com/thumb/width-640,height-480,imgsize-64803,resizemode-1,msid-63756234/news/economy/agriculture/unseasonal-rain-damages-crops-in-north-india/damage-crops.jpg" width="300px" height="300px">
    <img src="https://images.indianexpress.com/2019/06/farmer-759.jpg"  width="300px" height="300px">
    <img src="https://images.indianexpress.com/2019/06/maharashtra-farmer-759.jpg"  width="300px" height="300px">

</div>
<div class="su">
    <h1><u>Farmers Suicides After Loosing Their Crop</u></h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTq6DbYt4QSAk8dzgBLV0sja7QvMco5NM1ILR5oQnvSDKBswsK1XKOAsCTL0gf4WuYpDqw&usqp=CAU" width="300px" height="300px">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIhEce-gCR6RSOjfCtPv6oUiQwvWW2PW6j7w&usqp=CAU"  width="300px" height="300px">
    <img src="https://menglish.sakshi.com/sites/default/files/styles/storypage_main/public/article_images/2018/09/17/amarvathi_farmer_suicides_andhra_pradesh.jpg?itok=7uveo3w3"  width="300px" height="300px">
</div>





<div class="container about mt-5">

    <h1 class="pt-5 mx-5 her">About Us</h1>
   <div class="row">
    <div class="col-6">
        <img class="mx-5" height="80%" width="80%" src="https://media.istockphoto.com/id/1284379612/photo/indian-farmer-spreading-fertilizer-in-the-green-banana-field.jpg?b=1&s=170667a&w=0&k=20&c=mvNit1p2oeb2DDK6Bf-zx-c9Et8mmQFtLRGFmsoYeVk=" />
    </div>
    <div class="col-6">
        <p class="mais">
            India is one of the major players in the agriculture sector worldwide and it is the primary source of livelihood for about 58% of India’s population. India has the world's largest cattle herd (buffaloes), largest area planted to wheat, rice, and cotton, and is the largest producer of milk, pulses, and spices in the world. It is the second-largest producer of fruit, vegetables, tea, farmed fish, cotton, sugarcane, wheat, rice, cotton, and sugar. Agriculture sector in India holds the record for second-largest agricultural land in the world generating employment for about half of the country’s population.
        </p>
       
    </div>
   </div>
</div>



