<!DOCTYPE html> 
<html lang="en">
<head>
    <style>
        body{
            margin-top: 50px;
        }
        img:hover{
           transform: scale(0.8);

        }
    </style>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://www.shutterstock.com/image-photo/combine-harvester-harvests-ripe-wheat-agriculture-1494272252"></script>
  <script src="https://cdn.pixabay.com/photo/2013/08/28/00/54/field-176602__480.jpg"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">  
  <h1> FARMING IMAGES </h1>        
  <img src="https://cdn.pixabay.com/photo/2013/08/28/00/54/field-176602__480.jpg" class="rounded" width="300" height="300"> 
  <img src="https://cdn.pixabay.com/photo/2014/07/06/17/20/tractor-385681__480.jpg" class="rounded-circle" width="300" height="300">
  <img src="https://cdn.pixabay.com/photo/2016/07/30/09/56/wheat-1556698__480.jpg" class="img-thumbnail" width="300" height="300"> 
</div>

</body>
</html>

